In [1]:
if True:
    print('It is true')

It is true

In [2]:
if 3 > 2:
    print('It is true')

It is true

In [3]:
hungry = True
if hungry:
    print('Feed me')

Feed me

In [4]:
hungry = False
if hungry:
    print('Feed me')
else:
    print('I am not hungry')

I am not hungry

In [9]:
location = 'Bank'
if location == 'Autoshop':
    print('Cars')
elif location == 'Bank':
    print('Money')
else:
    print('I do not know much')

Money

In [10]:
location = 'Store'
if location == 'Autoshop':
    print('Cars')
elif location == 'Bank':
    print('Money')
elif location == 'Store':
    print('Groceries')
else:
    print('I do not know much')

Groceries

In [11]:
name = 'Sammy'
if name == 'Franky':
    print('Hello Franky')
elif name == 'Sammy':
    print('Hello Sammy')
else:
    print('Enter your name')

Hello Sammy


-------------
For loop<br><br>

In [12]:
my_iterable = [1,2,3]
for item in my_iterable:
    print(item)

1
2
3

In [13]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for num in mylist:
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [15]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number {num}')

Odd number 1
2
Odd number 3
4
Odd number 5
6
Odd number 7
8
Odd number 9
10

In [17]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [18]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [19]:
mystring = 'Hello World'
for mychar in mystring:
    print(mychar)

H
e
l
l
o

W
o
r
l
d

In [20]:
for mychar in 'Hello World':
    print(mychar)

H
e
l
l
o

W
o
r
l
d

In [21]:
for mychar in 'Hello World':
    mychar

In [22]:
for _ in 'Hello World':
    print('Cool')

Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool

In [24]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [26]:
mylist = [[1,2],[3,4]]
for item in mylist:
    print(item)

[1, 2]
[3, 4]

In [27]:
#tuples unpacking

In [28]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [30]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [32]:
d = {'k1': 1, 'k2': 2, 'k3': 3}
for item in d:
    print(item)

k1
k2
k3

In [33]:
d = {'k1': 1, 'k2': 2, 'k3': 3}
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [34]:
for key,value in d.items():
    print(value)

1
2
3

In [35]:
for key in d.keys():
    print(key)

k1
k2
k3

In [36]:
for value in d.values():
    print(value)

1
2
3

-----
While loop <br><br>

In [37]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [38]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1
else:
    print(f'The current value of x is not less than 5 and is {x}')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
The current value of x is not less than 5 and is 5

In [39]:
x = [1,2,3]
for item in x:
    #comment

SyntaxError: unexpected EOF while parsing (<ipython-input-39-e551111abc8e>, line 3)

In [40]:
x = [1,2,3]
for item in x:
    pass

In [41]:
x = [1,2,3]
for item in x:
    pass
print('End of the script')

End of the script

In [42]:
for letter in 'Sammy':
    if letter == 'm':
        continue
    print(letter)

S
a
y

In [43]:
for letter in 'Sammy':
    if letter == 'm':
        break
    print(letter)

S
a

In [44]:
x = 0
while x<5:
    print(x)
    x+=1

0
1
2
3
4

In [46]:
x = 0
while x<5:
    if(x == 3):
        break
    print(x)
    x+=1

0
1
2

<br><br>

-----

userful operators <br><br>

In [47]:
for num in range(5):
    print(num)

0
1
2
3
4

In [48]:
for num in range(1,4):
    print(num)

1
2
3

In [49]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [50]:
range(1,11,2)

range(1, 11, 2)

In [51]:
list[range(1,11,2)]

TypeError: 'type' object is not subscriptable

In [52]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [54]:
index_count = 0
for letter in 'abcdef':
    print(f'letter at position {index_count} is {letter}')
    index_count += 1

letter at position 0 is a
letter at position 1 is b
letter at position 2 is c
letter at position 3 is d
letter at position 4 is e
letter at position 5 is f

In [57]:
index_count = 0
for letter in 'abcdef':
    print('letter at position {} is {}'.format(index_count,letter))
    index_count += 1

letter at position 0 is a
letter at position 1 is b
letter at position 2 is c
letter at position 3 is d
letter at position 4 is e
letter at position 5 is f

In [58]:
for item in enumerate('Hello'):
    print(item)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [60]:
for index,letter in enumerate('Hello'):
    print(f'Letter at position {index} is {letter}')

Letter at position 0 is H
Letter at position 1 is e
Letter at position 2 is l
Letter at position 3 is l
Letter at position 4 is o

In [61]:
list1 = [1,2,3]

In [62]:
list2 = ['a','b','c']

In [63]:
zip(list1,list2)

In [64]:
for item in zip(list1,list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [65]:
list3 = [12,13,14,15]

In [66]:
for item in zip(list1,list2,list3):
    print(item)

(1, 'a', 12)
(2, 'b', 13)
(3, 'c', 14)

In [67]:
list(zip(list1,list2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [69]:
for item in enumerate([1,2,3,4]):
    print(item)

(0, 1)
(1, 2)
(2, 3)
(3, 4)

In [70]:
for item in enumerate((1,2,3,4)):
    print(item)

(0, 1)
(1, 2)
(2, 3)
(3, 4)

In [73]:
for a,b,c in zip(list1, list2, list3):
    print(a)
    print(b)
    print(c)

1
a
12
2
b
13
3
c
14

In [74]:
'x' in [1,2,3]

False

In [75]:
'x' in ['x','y','z']

True

In [76]:
'a' in 'rakesh'

True

In [77]:
'mykey' in {'mykey':345}

True

In [78]:
d = {'mykey':345}
345 in d.values()

True

In [79]:
mylist = [1,22,43,2,54]

In [80]:
min(mylist)

1

In [81]:
max(mylist)

54

In [82]:
mystring = 'rakesh'

In [83]:
min(mystring)

'a'

In [84]:
max(mystring)

's'

In [85]:
from random import shuffle

In [86]:
list1 = [1,2,3,4,5,6,7,8]

In [87]:
shuffle(list1)

In [88]:
list1

[4, 2, 3, 6, 5, 1, 8, 7]

In [89]:
random_list = shuffle(list1)

In [90]:
random_list

In [91]:
type(random_list)

NoneType

In [92]:
from random import randint

In [93]:
randint(44,100)

54

In [94]:
mynum = randint(44,99)

In [95]:
mynum

77

In [96]:
input('Enter a number here: ')

Enter a number here: 15

'15'

In [97]:
entered_num = input('Enter a number here: ')

Enter a number here: 44

In [98]:
entered_num

'44'

In [99]:
type(entered_num)

str

In [100]:
entered_name = input('Enter your name: ')

Enter your name: Rakesh

In [101]:
entered_name

'Rakesh'

In [102]:
int(entered_num)

44

In [103]:
entered_num = int(input('Enter a number here: '))

Enter a number here: 44

In [104]:
entered_num

44

<br><br>

------

List comprehensions 

-----

<br><br>

In [105]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [107]:
list1 = []
for x in 'Hello World':
    list1.append(x)

In [108]:
list1

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [110]:
list2 = [x for x in 'Hello World']

In [111]:
list2

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [112]:
list3 = [num for num in range(0,11,2)]

In [113]:
list3

[0, 2, 4, 6, 8, 10]

In [114]:
list3 = [num**2 for num in range(0,10,2)]

In [115]:
list3

[0, 4, 16, 36, 64]

In [118]:
mylist = [x**2 for x in range(0,10) if x%2 == 0]

In [119]:
mylist

[0, 4, 16, 36, 64]

In [120]:
celcius = [12,34,18.4,33,12]
fahrenheit = [x*(9/5)+32 for x in celcius]

In [121]:
fahrenheit

[53.6, 93.2, 65.12, 91.4, 53.6]

In [126]:
mylist = [x**2 if x%2 == 0 else x**3 for x in range(0,10)]

In [127]:
mylist

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729]

In [128]:
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [129]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [130]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]

In [131]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [132]:
mystring = "my name is rakesh kumar"

In [133]:
list(mystring)

['m',
 'y',
 ' ',
 'n',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'r',
 'a',
 'k',
 'e',
 's',
 'h',
 ' ',
 'k',
 'u',
 'm',
 'a',
 'r']

In [134]:
mystring.split(" ")

['my', 'name', 'is', 'rakesh', 'kumar']

In [135]:
mystring.split(" ")[1]

'name'

In [136]:
mystring.split(" ")[1].startswith('n')

True