In [1]:
print('hello')

hello

In [2]:
print('new')

new

here we can write notes

In [3]:
2+1

3

In [4]:
2*2

4

In [5]:
3/2

1.5

In [6]:
7%4

3

In [9]:
23 % 2 ==0

False

In [10]:
2**3

8

In [11]:
clear

In [2]:
a = 5

In [3]:
a

5

In [14]:
a = 10

In [15]:
a + a

20

In [18]:
a = a + a

In [19]:
a

40

In [20]:
type(a)

int

In [21]:
a = 30.2

In [22]:
type(a)

float

In [23]:
a = 443.33d

SyntaxError: invalid syntax (<ipython-input-23-c0e7a8cd88fd>, line 1)

In [4]:
my_income = 400
tax_rate = 0.1

In [5]:
my_taxes = my_income * tax_rate

In [6]:
my_taxes

40.0

In [7]:
'hello'

'hello'

In [8]:
"hello"

'hello'

In [9]:
"I'm going for a run."

"I'm going for a run."

In [10]:
print('hello')

hello

In [11]:
len('hello')

5

In [12]:
len('I am')

4

In [13]:
mystring = "Hello World"

In [14]:
mystring

'Hello World'

In [15]:
mystring[4]

'o'

In [16]:
mystring[9]

'l'

In [17]:
mystring[-2]

'l'

In [19]:
mystring= "abcdefghij"
print(mystring[3:])
print(mystring[:5])
print(mystring[2:5])

defghij
abcde
cde

In [20]:
mystring= "abcdefghij"

In [21]:
mystring= "abcdefghij"
print(mystring[::])
print(mystring[::2])
print(mystring[2:7:2])

abcdefghij
acegi
ceg

In [22]:
mystring[::-1]

'jihgfedcba'

In [23]:
letter = "z"
letter * 10

'zzzzzzzzzz'

In [24]:
2 + '3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
x = 'Hello World'

In [26]:
x.upper()

'HELLO WORLD'

In [27]:
x

'Hello World'

In [28]:
x.lower()

'hello world'

In [29]:
x.split()

['Hello', 'World']

In [30]:
x.split('l')

['He', '', 'o Wor', 'd']

In [31]:
x.capitalize()

'Hello world'

In [32]:
x.casefold()

'hello world'

In [33]:
x = 'hello world'

In [34]:
x.casefold()

'hello world'

In [35]:
x = 'Hello World'

In [36]:
x.center()

TypeError: center() takes at least 1 argument (0 given)

In [37]:
x.count()

TypeError: count() takes at least 1 argument (0 given)

In [38]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [42]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [43]:
result = 100/777

In [44]:
result

0.1287001287001287

In [45]:
print('The result is: {}'.format(result))

The result is: 0.1287001287001287

In [46]:
print('The result is: {r}'.format(r = result))

The result is: 0.1287001287001287

In [48]:
print('The result is: {r:1.3f}'.format(r = result))

The result is: 0.129

In [49]:
print('The result is: {r:10.5f}'.format(r = result))

The result is:    0.12870

In [50]:
result = 123.344
print('The result is: {r:1.5f}'.format(r = result))

The result is: 123.34400

In [51]:
print(f'Hello my name is {Rakesh}')

NameError: name 'Rakesh' is not defined

In [52]:
py --version

NameError: name 'py' is not defined

In [53]:
print('my name is {}'.format('rakesh'))

my name is rakesh

In [54]:
print(f'my name is {rakesh}')

NameError: name 'rakesh' is not defined

In [55]:
name = Rakesh

NameError: name 'Rakesh' is not defined

In [56]:
name = 'Rakesh'

In [57]:
print('Hello, my name is {}'.format(name))

Hello, my name is Rakesh

In [58]:
print(f'Hello, my name is {name}')

Hello, my name is Rakesh

In [59]:
name = 'Sam'
age = 3

In [60]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

In [61]:
my_list = [1,3,5]

In [62]:
my_list = [1, 34.5, 'mystring']

In [63]:
len(my_list)

3

In [64]:
my_list = ['one', 'two', 'three']

In [65]:
my_list[1]

'two'

In [66]:
my_list[1:]

['two', 'three']

In [67]:
another_list = ['four', 'five', 'six']

In [68]:
my_list + another_list

['one', 'two', 'three', 'four', 'five', 'six']

In [69]:
new_list = my_list + another_list

In [70]:
new_list

['one', 'two', 'three', 'four', 'five', 'six']

In [71]:
#List is mutable unlike strings
new_list[0] = 'ONE_ALL_CAPS'

In [72]:
new_list

['ONE_ALL_CAPS', 'two', 'three', 'four', 'five', 'six']

In [73]:
new_list.append('seven')

In [74]:
new_list

['ONE_ALL_CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [75]:
new_list.remove('three')

In [76]:
new_list

['ONE_ALL_CAPS', 'two', 'four', 'five', 'six', 'seven']

In [77]:
new_list.pop()

'seven'

In [78]:
new_list

['ONE_ALL_CAPS', 'two', 'four', 'five', 'six']

In [79]:
#to store the popped item
popped_item = new_list.pop()

In [80]:
new_list

['ONE_ALL_CAPS', 'two', 'four', 'five']

In [81]:
popped_item

'six'

In [82]:
#to remove at a specific index using pop. 
#by default the index position for pop is -1
new_list.pop(0)

'ONE_ALL_CAPS'

In [83]:
new_list

['two', 'four', 'five']